extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/pagination.pug

block main 
  +alert-success()
  +alert-error()

  if role.permissions.includes('product_view')
    h1.titlePage Quản lý sản phẩm

    div(class='d-flex justify-content-end')
      a(href='/admin/products/create' class='btn btn-primary mb-3') + Thêm mới sản phẩm

    .card 
      .card-header 
        div(class='products-header')
          div
            select(class='form-select' limit-records)
              option(value='10' selected=(pagination.limit === 10)) 10 sản phẩm
              option(value='20' selected=(pagination.limit === 20)) 20 sản phẩm
              option(value='50' selected=(pagination.limit === 50)) 50 sản phẩm
              option(value='all' selected=(pagination.limit > 50)) Tất cả

          <h5 class="text-primary" style='font-weight: bold'>Danh sách sản phẩm</h5>

          form(class='search-products input-group' style='max-width: 250px')
            input.form-control(type='text', name='keyword' id='keyword', placeholder='Nhập tên sản phẩm' input-search)
            button(class='btn btn-primary' type='submit')
              i(class='fa-solid fa-magnifying-glass')

      .card-body 
        table 
          thead
            tr 
              th STT 
              th Hình ảnh 
              th Tên sản phẩm 
              th Danh mục
              th Giá (VNĐ)
              th Giảm giá (%)
              th Đã bán
              th Nổi bật
              th Trạng thái 
              th(style='width: 200px') Thao tác
          tbody 
            each product, index in products 
              tr 
                td #{index+1}
                td 
                  img(src=product.thumbnail alt=product.name)
                td #{product.name}
                td #{product.nameCategory}
                td #{product.price.toLocaleString()}đ
                td #{product.discount}
                td #{product.sold}
                td 
                  if product.featured
                    span(class="badge bg-success") Có
                  else 
                    span(class="badge bg-secondary") Không
                td 
                  if product.status === 'active'
                    span(class="badge bg-success") Hoạt động
                  else 
                    span(class="badge bg-danger") Dừng hoạt động
                td 
                  a(href=`/admin/products/detail/${product.id}` class='btn btn-secondary')
                    i(class='fa-solid fa-eye') 
                  a(href=`/admin/products/edit/${product.id}` class='btn btn-primary')
                    i(class="fa-solid fa-pen-to-square")
                  a(class='btn btn-danger' btn-delete-product product-id=product.id onclick=`confirmDelete('${product.id}')`)
                    i(class="fa-solid fa-trash")
        +pagination()
    form(action=`` method='POST' form-delete-product)
  else 
    h1.titlePage Bạn không có quyền xem sản phẩm


  script(src='/js/product.js')
