extends ../../layouts/default.pug

block main
  if role.permissions.includes('staff_view') || account.id === account.id
    div(class="container mt-5")
      div(class="row justify-content-center")
        div(class="col-md-8")
          div(class="card shadow")
            div(class="card-body p-5")
              h2(class="mb-3 text-danger fw-bold text-center") Chi tiết nhân viên

              form(action=`/admin/staffs/edit/${account.id}`)
                div(class="mb-3")
                  label(for="fullName" class="form-label fw-semibold") Họ tên
                  input(type="text" class="form-control border-0 bg-light" id="fullName" name="fullName" value=account.fullName readonly)

                div(class="mb-3")
                  label(for="role" class="form-label fw-semibold") Chức vụ
                  input(type="text" class="form-control border-0 bg-light" id="role" name="role" value=account.role_name readonly)

                div(class="mb-3")
                  label(for="email" class="form-label fw-semibold") Email
                  input(type="email" class="form-control border-0 bg-light" id="email" name="email" value=account.email readonly)

                div(class="mb-3")
                  label(for="phone" class="form-label fw-semibold") Số điện thoại
                  input(type="text" class="form-control border-0 bg-light" id="phone" name="phone" value=account.phone readonly)

                div(class="mb-4")
                  label(for="address" class="form-label fw-semibold") Địa chỉ
                  input(type="text" class="form-control border-0 bg-light" id="address" name="address" value=account.address readonly)
                button(type='submit' class='btn btn-pink') Chỉnh sửa
  else 
    h1.titlePage Bạn không có quyền xem thông tin nhân viên
